version: "3.8"

services:
  bionicmodulation:
    build: .
    container_name: bionicmodulation-all-sdr
    privileged: true
    network_mode: host
    environment:
      DISPLAY: ${DISPLAY}
      LC_ALL: C.UTF-8
      LANG: C.UTF-8
      PULSE_SERVER: unix:/run/user/1000/pulse/native
    devices:
      - /dev/snd:/dev/snd
      - /dev/dri:/dev/dri
      - /dev/bus/usb:/dev/bus/usb
    volumes:
      - /dev/bus/usb:/dev/bus/usb
      - /tmp/.X11-unix:/tmp/.X11-unix:ro
      - ${XAUTHORITY:-$HOME/.Xauthority}:/home/user/.Xauthority:ro
      - ./gnuradio:/home/user/gnuradio
      - /run/user/1000/pulse:/run/user/1000/pulse
    stdin_open: true
    tty: true
    extra_hosts:
      - "pluto.local:192.168.4.1"
      - "pluto.local.usb:192.168.3.1"

